<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">wowTow Customers Payments with Debit/Credit Card</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>Payer Name</th>
                                <th>Payer Email</th>
                                <th>Item</th>
                                <th>Payment Status</th>
                                <th>Payment Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of PaypalTransactions">
                                <td>
                                    {{ p.service.payer_name }} {{p.service.lastname}}
                                </td>
                                <td> {{p.service.payer_email}} </td>
                                <td>
                                    {{ p.service.item_name }}
                                </td>
                                <td> <span [innerHTML]="p.service.payment_status | status:'PAYED':'FAILED'"></span> </td>
                                <td>
                                    {{ p.service.payment_date | date }}
                                </td>
                                <td>
                                    <button (click)="navigateInvoice(p._id)" class="btn btn-success">
                                  <i class="mdi mdi-access-point"></i>
                              </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>