<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">wowTow Customers Payments with Debit/Credit Card</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Document Type</th>
                                <th>Document Status</th>
                                <th>Expiration</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>

                                </td>
                                <td> </td>
                                <td> </td>
                                <td>
                                    <span></span>
                                </td>
                                <td></td>
                                <td>
                                    <button class="btn btn-success">
                                  <i class="mdi mdi-lock"></i>
                              </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>