<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">wooTow vehicles</h4>
                <h6 class="card-subtitle">Cars duty database</h6>
                <button (click)="OpenPageCities();" style="float: right;" mat-fab color="primary">
                  <mat-icon class="material-icons">business</mat-icon>+
                </button>
                <div class="space-10"></div>
                <div class="row text-center">
                    <div *ngFor="let city of CitiesArray; let i = index;" class="col-2 text-center">
                        <mat-card class="bg-light-inverse">
                            <mat-card-header>
                                <mat-card-title>
                                    {{city.city}}
                                </mat-card-title>
                                <mat-icon class="material-icons">home_work</mat-icon>
                            </mat-card-header>
                            <mat-card-footer>
                                <button (click)="OpenPageCities(city);" mat-raised-button color="primary" class="btn-block">
                                  Edit&nbsp;
                                  <mat-icon class="material-icons">remove_red_eye</mat-icon>
                                </button>
                            </mat-card-footer>
                        </mat-card>
                        <div class="space-20"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>