<div class="row">
    <div class="col-12" style="overflow-y: scroll !important">
        <!-- sample modal content -->
        <div style="overflow-y: scroll !important" [ngClass]="{'show-providers-modal': _modal.modalDisplay && 'hide-providers-modal: !_modal.modalDisplay'}" id="responsive-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Provider Service Data</h4>
                        <button (click)="_modal.modalDisplay = false" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div *ngFor="let widgets of Documents" class="row">
                                        <div class="col">
                                            <h3>100%</h3>
                                            <h6 class="card-subtitle"> {{ widgets.documentType }}</h6>
                                            <small [innerHTML]="widgets.documentStatus | status:'Active':'Inactive'"></small>
                                        </div>
                                        <div class="col">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="h5">
                            Required Documents
                        </h5>
                        <div class="col-sm-2">
                            <span class="badge badge-inverse">DNI | PASSPORT</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="badge badge-inverse">POLICY</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="badge badge-inverse">LICENCE</span>
                        </div>
                        <div *ngIf="Documents && Documents.length >= 3">
                            <form #formAuth="ngForm" ngNativeValidate (ngSubmit)="FormAuth(formAuth)" class="form-material">
                                <div class="form-group">
                                    <label for="select" class="control-label">Authorization:</label>
                                    <select ngModel name="authorized" required class="form-control bg-inverse">
                                            <option selected disabled value="">-- Authorize this Provider --</option>
                                            <option [selected]="Documents[0].user.authorized" value="true">AUTHORIZED</option>
                                            <option [selected]="!Documents[0].user.authorized" value="false">UNAUTHORIZED</option>
                                    </select>
                                    <p style="color: darkorange">
                                        This is so that service providers can work within the application
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">
                                                        Configure this Provider
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="!Documents || Documents.length <= 2" class="col-sm-12">
                            This provider does not have all the documents in the system, so it can not be authorized
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="_modal.modalDisplay = false" type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button (click)="_modal.modalDisplay = false" type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</div>