<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>INVOICE</b> <span class="pull-right">Ref: {{ Transaction.transaction_ref }} </span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                          <h3> &nbsp;<b class="text-danger"> {{ Transaction.client.client.name}} </b></h3>
                          <p class="text-muted m-l-5">{{ Transaction.client.client.email }}
                              <br> 0123123123,
                              <br> {{Transaction.client.car_name}},
                              <br> {{ Transaction.client.car_plate }} </p>
                      </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                          <h3>To,</h3>
                          <h4 class="font-bold">WowTow Dispatch Software</h4>
                          <p class="text-muted m-l-30">Houston, Texas, EE. UU.
                              <br> Payment status: <span [innerText]="Transaction.payment_status" class="badge badge-info"></span>,
                              <br> Payment System Approbation:&nbsp;
                              <span [innerHTML]="Transaction.payment_system | status:'APPROVED':'FAILURE'"></span>,
                              <br> Card: <span class="badge badge-info">{{ Transaction.card_type }}</span>
                              <br> Dispute: 
                              <span *ngIf="Transaction.dispute" class="badge badge-danger">{{ Transaction.dispute }}</span>
                              <span *ngIf="!Transaction.dispute" class="badge badge-success">ALL DONE</span>
                            </p>
                          <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> {{ Transaction.create | date }}</p>
                      </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th class="text-right">Currency</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{ Transaction.payment_description }} </td>
                                    <td class="text-right"> {{ Transaction.currency }} </td>
                                    <td class="text-right"> {{ Transaction.amount }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: ${{Transaction.amount}}</p>
                        <p>TAX (10%) : ${{ (Transaction.amount*10)/100 }} </p>
                        <hr>
                        <h3><b>Total :</b> ${{ (Transaction.amount*10)/100 + (Transaction.amount) }}
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>