<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>INVOICE</b> <span class="pull-right">Ref: {{ ObjectCharge.charge.id }} </span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                          <h3> &nbsp;<b class="text-danger"> {{ ObjectCharge.customer.name}} </b></h3>
                          <p class="text-muted m-l-5">{{ ObjectCharge.customer.email}}
                              <br> {{ObjectCharge.customer.phone}},
                              <br> {{ObjectCharge.pay.vehicle.car_model.car_name}},
                              <br> {{ ObjectCharge.pay.vehicle.car_model.car_plate }} </p>
                      </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                          <h3>To,</h3>
                          <h4 class="font-bold">WowTow Dispatch Software</h4>
                          <p class="text-muted m-l-30">Houston, Texas, EE. UU.
                              <br> Payment status: 
                                <span [ngSwitch]="ObjectCharge.tracking">
                                <mat-chip selected *ngSwitchCase="'pending'">On Hold</mat-chip>
                                <mat-chip selected *ngSwitchCase="'canceled'">Refunded</mat-chip>
                                <mat-chip *ngSwitchDefault selected>Paid</mat-chip>
                                </span>,
                              <br> Card: <span class="badge badge-info">{{ ObjectCharge.charge.payment_method_details.card.brand }}</span>
                              <br> Serial: <mat-chip selected>{{ObjectCharge.charge.payment_method_details.card.fingerprint}}</mat-chip>
                            </p>
                          <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> {{ ObjectCharge.charge.created | date }}</p>
                      </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th class="text-right">Currency</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{ ObjectCharge.charge.description }} </td>
                                    <td class="text-right text-uppercase"> {{ ObjectCharge.charge.currency }} </td>
                                    <td class="text-right"> {{ ObjectCharge.prices.Service }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: ${{ObjectCharge.prices.Service}}</p>
                        <p>TAX (10%) : ${{ (ObjectCharge.prices.Service*10)/100 }} </p>
                        <hr>
                        <h3><b>Total :</b> ${{ (ObjectCharge.prices.Service*10)/100 + (ObjectCharge.prices.Service) }}
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <a id="print" class="btn btn-default btn-outline" [href]="ObjectCharge.charge.receipt_url" target="_blank">
                            <span>
                                <i class="fa fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>