<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">wowTow Customers Payments with Debit/Credit Card</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Card Type</th>
                                <th>Currency</th>
                                <th>System Approbation</th>
                                <th>Amount</th>
                                <th>Date Payment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stripe of Transactions">
                                <td>
                                    {{ stripe.client.client.name }}
                                </td>
                                <td> {{ stripe.client.client.email }} </td>
                                <td> {{ stripe.card_type }} </td>
                                <td>
                                    <span [innerText]="stripe.currency" class="text-uppercase badge badge-inverse font-weight-bold"></span>
                                </td>
                                <td>
                                    <span [innerHTML]="stripe.payment_status | status:'PAYED':'Payment Error'"></span>
                                </td>
                                <td> {{ stripe.amount }} <span class="text-uppercase"> {{stripe.currency}}</span></td>
                                <td> {{ stripe.create | date }} </td>
                                <td>
                                    <button (click)="navigateInvoice(stripe._id)" class="btn btn-success">
                                    <i class="mdi mdi-credit-card-scan"></i>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>