<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Wootow Orders</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Card Type</th>
                                <th>Currency</th>
                                <th>Payment Status</th>
                                <th>Amount</th>
                                <th>Date Payment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stripe of Transactions">
                                <td>
                                    {{ stripe.charge.billing_details.name }}
                                </td>
                                <td> {{ stripe.customer.email }} </td>
                                <td> {{ stripe.charge.payment_method_details.card.brand }} </td>
                                <td>
                                    <span [innerText]="stripe.charge.currency" class="text-uppercase badge badge-inverse font-weight-bold"></span>
                                </td>
                                <td>
                                    <mat-chip-list [ngSwitch]="stripe.tracking">
                                        <mat-chip selected *ngSwitchCase="'pending'">On Hold</mat-chip>
                                        <mat-chip selected *ngSwitchCase="'canceled'">Refunded</mat-chip>
                                        <mat-chip *ngSwitchDefault selected>Paid</mat-chip>
                                    </mat-chip-list>
                                </td>
                                <td> ${{ stripe.prices.Service }}</td>
                                <td> {{ stripe.charge.created | date }} </td>
                                <td>
                                    <button (click)="navigateInvoice(stripe)" class="btn btn-success">
                                    <i class="mdi mdi-credit-card-scan"></i>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>