<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i>
                    <span class="hide-menu">Customers
                        <span style="background-color: #FAD519;" class="label label-rouded label-themecolor pull-right text-dark">CONTROL</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/customers']">Customers</a></li>
                        <li><a [routerLink]="['/admin/drivers']">Service Providers</a></li>
                        <li><a [routerLink]="['/']">Customers Drivers Rating</a></li>
                        <li><a [routerLink]="['/admin/controls/risk']">Customers Risk</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-lock"></i>
                    <span class="hide-menu">Privacy</span>
                </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/documents']">Service Providers Documents</a></li>
                        <li><a [routerLink]="['/admin/membership']">Service Providers Status</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-city"></i>
                    <span class="hide-menu">Control Cities</span>
                </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLink]="['/admin/cities']">Cities Rate</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']">Cities Coupons</a>
                        </li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-credit-card-scan"></i>
                    <span class="hide-menu">Administration</span>
                </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLink]="['/admin/payments/stripe']">Credit/Debit cards payments</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin/payments/paypal']">Paypal Payments</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']">Payments Drivers</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']">Balance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>